
ul, nav{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
  justify-content: space-between;
  
  /* margin: 0.4rem 2rem ; */
  gap: 1rem;
padding: 0 2rem;
  margin-right: 1rem;

  @media  screen and (max-width:650px){
    padding: 0;
    
  }
   
  }
  

  
  /* .right{ */
    /* margin-right:5rem; */
  /* margin-right:14rem ;
  can use margin-right to position the elements on right however
  */

  /* } */
  nav img{
    height: 2rem;
  }

  a{
    text-decoration: none;
  }