.project-grid{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    margin: 0 10%;
    
    gap: 0.3rem;
    @media screen and (max-width:650px){
        grid-template-columns:repeat(1,1fr);

    }
    
}

